/*////////////////
Color Scheme: 
#F7B2B7 light pink, (RGB 247,178,183)
#F7717D coral pink, 
#DE639A mid pink, 
#7F2982 lavender, 
#16001E deep purple 
////////////////*/


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}
/*////////////////
BODY STYLING (all pages)
////////////////*/

body {
  height: 100%; 
  margin: 0%;/*this makes the footer stick at the bottom*/
  
  /*starting font information*/
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  letter-spacing: .08em;
  color: #16001E;
  /*background gradient going behind the entire page*/
  background-image: 
    radial-gradient(circle farthest-corner at 65% 190px, #DE639A -15%, #F7717D 28%, #7F2982 74%);
  background-size: 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*///////////////
NAVBAR STYLING (all pages)
///////////////*/

ul#navLinks {
  margin: 8px 0;
  padding-left: 0;
}

#navBar ul li {
  display: inline-block;
}
#navBar ul li a {
    color: #16001E;
    font-size: .92em;
    margin-left: 10px;
}


/*///////////////
BANNER STYLING (all pages)
///////////////*/


#banner {
  color: white;
  font-size: 1.4em;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/*///////////////
FOOTER STYLING (all pages)
///////////////*/

footer {
  /*footer position,  at the very bottom of any page that renders even if the content doesn't reach all the way to the bottom. will "display hidden" in mobile version later*/
    position: absolute;
    left: 0;
    bottom: 0;
    height: 28px;
    width: 100%;
    /*footer background- a simple transparent overlay*/
    background-color: linear-gradient(to top rgba(247, 178, 183, 0.3) 0%, transparent 80%);    
}
    /*footer font*/
footer h3 {
    font-size: .7em;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 5px;
    
}